.user_info, .moderator_options{
    display: inline-block;
}
.user_info{
    width: 70%
}
.moderator_options{
    width: 27%;
    vertical-align: top;
    border-left: 1px solid black;
    padding-left: 1.5em;
}